@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

:root {
    --clr-accent: #2E51A2;
    --clr-button: #132550;
}


.wrapper {
    max-width: 2000px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: white;
}

body {
    color: black;
    background-color: white;
    font-family: "Catamaran";
}

.blue-background {
    background-color: var(--clr-accent);
    padding: 5rem;
    color: white;
}
.white-background {
    padding-top: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 30px;
}/* 
.tabs {
    display: flex;
    row-gap: 10px;
    column-gap: 160px;
    flex-wrap: wrap;
}
 */
.tabs{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px,1fr));
    column-gap: 30px;
    row-gap: 10px;
}

.main-anime-image {
    background:  url(images/anime-cover.png); 
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    aspect-ratio: 2/1;
    width: 700px;
}

.left-section {
    display: flex;
    flex-direction: column;
}

.right-section { 
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.landing-page {
    padding-top: 3rem;
    display: flex;
    gap: 50px;
}

button{
    color: var(--clr-accent);
    background: white;
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-family: "Catamaran";
    
}

button:hover {
    background-color: var(--clr-button);
    color: white;
}

.button-group {
    display: flex;
    gap: 1rem;
}

.my-anime-list-title {
    font-size: 3rem;
}

.slogan { 
    font-size: 4rem;
}

.top-airing-anime-section, .top-upcoming-anime-section, .top-rated-anime-section {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.anime-carousel { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px,1fr));
    gap: 30px;
    row-gap: 50px;
    padding: -10px;
}

.subsection-1 {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: bold;
    
}
.anime-card { 
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.profile-image {
    margin-top: -10px;
    background:  url(images/profile-pic.jpeg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
    aspect-ratio: 1/1;
    width: 35px;
}

.aot-image {
    background:  url(images/aot.png); 
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    aspect-ratio: 1/1.3;
}

.jjk-image {
    background:  url(images/jjk.png); 
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    aspect-ratio: 1/1.3;
}

.sxf-image {
    background:  url(images/sxf.png); 
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    aspect-ratio: 1/1.3;
}

.mha-image {
    background:  url(images/mha.png); 
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    aspect-ratio: 1/1.3;
}

.op-image {
    background:  url(images/op.png); 
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    aspect-ratio: 1/1.3;
}

.fire-force-image { 
    background:  url(images/fire-force.jpeg); 
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    aspect-ratio: 1/1.3;
}

.promised-neverland-image {
    background:  url(images/promised-neverland.jpeg); 
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    aspect-ratio: 1/1.3;
}

.akuma-kan-image {
    background:  url(images/akuma-kan.png); 
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    aspect-ratio: 1/1.3;
}

.chainsaw-man-image {
    background:  url(images/chainsaw-man.png); 
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    aspect-ratio: 1/1.3;
}

.dbz-image {
    background:  url(images/dbz.png); 
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    aspect-ratio: 1/1.3;
}

.death-note-image {
    background:  url(images/death-note.png); 
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    aspect-ratio: 1/1.3;
}

.opm-image {
    background:  url(images/one-punch-man.png); 
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    aspect-ratio: 1/1.3;
}

.kingdom-image {
    background:  url(images/kingdom.png); 
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    aspect-ratio: 1/1.3;
}

.naruto-image {
    background:  url(images/naruto.png); 
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    aspect-ratio: 1/1.3;
}

.tokyo-ghoul-image {
    background:  url(images/tokyo-ghoul.jpeg); 
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    aspect-ratio: 1/1.3;
}

.hxh-image {
    background:  url(images/hxh.png); 
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    aspect-ratio: 1/1.3;
}

.dororo-image {
    background:  url(images/dororo.jpeg); 
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    aspect-ratio: 1/1.3;
}


@media (width <= 550px) {
    .landing-page {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .right-section {
        padding-top: 0rem;
        gap: 20px;
    }
    .my-anime-list-title {
        font-size: 2rem;
    }
    .slogan{
        font-size: 3rem;
    }
    .anime-carousel{
        row-gap: 40px;
    }
    .main-anime-image{
        width: auto;
    }
    .blue-background, .white-background {
        padding: 3rem;
    }
    .tabs {
        column-gap: 5px;
    }
}

@media (width <=1300px) {
    .landing-page {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .tabs {
        column-gap: 20px;
    }
    .right-section{
        padding-top: 0px;
    }
    .main-anime-image{
        width: auto;
    }
    .blue-background, .white-background {
        padding: 3rem;
    }
    
}